<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!--                <div class="card" id="filterContainer">-->
                <!--                    <div class="card-header ">-->
                <!--                        <h4 class="card-title">Filter Results</h4>-->
                <!--                    </div>-->
                <!--                    <div class="card-body">-->
                <!--                        <div class="form-filter">-->
                <!--                            <div class="row">-->
                <!--                                <div class="col-md-4">-->
                <!--                                    <legend>Search</legend>-->
                <!--                                    <mat-form-field class="example-full-width">-->
                <!--                                        <input matInput placeholder="Name, Email, Mobile, EmployeeID" type="text">-->
                <!--                                    </mat-form-field>-->
                <!--                                </div>-->
                <!--                                <div class="col-md-4">-->
                <!--                                    <legend>Manager</legend>-->
                <!--                                    <mat-form-field>-->
                <!--                                        <mat-select placeholder="Choose Manager" [(ngModel)]="currentMgr"-->
                <!--                                                    mgr="Anshul Garg" mgrLabel="mgrs[0]">-->
                <!--                                            <mat-option *ngFor="let mgr of mgrs" [value]="mgr.value">-->
                <!--                                                {{ mgr.viewValue }}-->
                <!--                                            </mat-option>-->
                <!--                                        </mat-select>-->
                <!--                                    </mat-form-field>-->
                <!--                                </div>-->
                <!--                                <div class="col-md-4">-->
                <!--                                    <legend>Region</legend>-->
                <!--                                    <mat-form-field>-->
                <!--                                        <mat-select multiple placeholder="Choose Area" [(ngModel)]="currentArea"-->
                <!--                                                    areaid="CUST 001" areaLabel="areaids[0]">-->
                <!--                                            <mat-option *ngFor="let areaid of areaids" [value]="areaid.value">-->
                <!--                                                {{ areaid.viewValue }}-->
                <!--                                            </mat-option>-->
                <!--                                        </mat-select>-->
                <!--                                    </mat-form-field>-->
                <!--                                </div>-->
                <!--                            </div>-->
                <!--                            <div class="row">-->
                <!--                                <div class="col-md-12 text-right btn-row">-->
                <!--                                    <button mat-raised-button type="submit" id="resetFilter"-->
                <!--                                            class="btn btn-round btn-default">Reset Filter(s)-->
                <!--                                    </button>-->
                <!--                                    <button mat-raised-button type="submit" class="btn btn-fill btn-round btn-success">-->
                <!--                                        Apply Filter-->
                <!--                                    </button>-->
                <!--                                </div>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
                <div id="performanceTable" class="row">
                    <div class="col-md-12">
                        <div class="card ">
                            <div class="card-header card-header-success card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">person</i>
                                </div>
                                <h4 class="card-title">Employees</h4>
                            </div>
                            <div class="toolbar table-action-toolbar">
                                <div class="btn-group">
                                    <button matTooltip="Add Employee" [matTooltipPosition]="'above'" mat-raised-button
                                            type="button" class="btn btn-fab btn-sm btn-rose" data-toggle="modal"
                                            data-target="#AddEmpModal">
                                        <i class="material-icons">add</i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body ">
                                <div class="material-datatables">
                                    <table class="table table-responsive-sm">
                                        <thead class="text-primary">
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Username</th>
                                            <th>Mobile</th>
                                            <th>Manager</th>
                                            <th>Action</th>
                                            <!--                                            <th>View</th>-->
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let employee of employees;let i=index">
                                            <td>{{i + 1}}</td>
                                            <td>{{employee.name}}</td>
                                            <td>{{employee.email}}</td>
                                            <td>{{employee.username}}</td>
                                            <td>{{employee.mobile}}</td>
                                            <td>{{Manager}}</td>
                                            <td class="text-center">
                                                <div class="btn-group">
                                                    <!--<button mat-raised-button type="button" matTooltip="Send Message" [matTooltipPosition]="'above'"  data-toggle="modal" data-target="#msgModal" class="btn btn-fab btn-success btn-sm">-->
                                                    <!--<i class="material-icons">message</i>-->
                                                    <!--</button>-->
                                                    <button mat-raised-button type="button" matTooltip="Edit"
                                                            (click)="openEmpModal(employee)"
                                                            [matTooltipPosition]="'above'" data-toggle="modal"
                                                            data-target="#EditEmpModal"
                                                            class="btn btn-fab btn-success btn-sm">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                </div>
                                            </td>
                                            <!--                                            <td class="text-center">-->
                                            <!--                                                <div class="dropdown">-->
                                            <!--                                                    <button mat-raised-button href="#"-->
                                            <!--                                                            class="dropdown-toggle btn-sm btn btn-success"-->
                                            <!--                                                            data-toggle="dropdown">View-->
                                            <!--                                                        <b class="caret"></b>-->
                                            <!--                                                    </button>-->
                                            <!--                                                    <ul class="dropdown-menu dropdown-menu-right">-->
                                            <!--                                                        &lt;!&ndash;<li>&ndash;&gt;-->
                                            <!--                                                        &lt;!&ndash;<a href="#">Team</a>&ndash;&gt;-->
                                            <!--                                                        &lt;!&ndash;</li>&ndash;&gt;-->
                                            <!--                                                        &lt;!&ndash;<li>&ndash;&gt;-->
                                            <!--                                                        &lt;!&ndash;<a href="#">Location History</a>&ndash;&gt;-->
                                            <!--                                                        &lt;!&ndash;</li>&ndash;&gt;-->
                                            <!--                                                        <li>-->
                                            <!--                                                            <a href="javascript:void (0)"-->
                                            <!--                                                               (click)="getEmpCustomer(employee.username)">Customers</a>-->
                                            <!--                                                        </li>-->
                                            <!--                                                        &lt;!&ndash;<li>&ndash;&gt;-->
                                            <!--                                                        &lt;!&ndash;<a href="#">Claims</a>&ndash;&gt;-->
                                            <!--                                                        &lt;!&ndash;</li>&ndash;&gt;-->
                                            <!--                                                    </ul>-->
                                            <!--                                                </div>-->
                                            <!--                                            </td>-->
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
    </div>
</div>


<!-- Add Employee Modal -->
<div class="modal fade" id="AddEmpModal" tabindex="-1" role="dialog" aria-labelledby="AddEmpModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="" data-color="green">
                <div class="card-header text-center">
                    <h3 class="card-title">
                        Add New Employee
                    </h3>
                </div>
                <div class="modal-body">
                    <form [formGroup]="employee" class="add_cust_form">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" placeholder="Employee Code" formControlName="code">
                                    <mat-error>This field is required</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" placeholder="Name" formControlName="name">
                                    <mat-error>This field is required</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="number" placeholder="Mobile" formControlName="mobile">
                                    <mat-error>This field is required and should be valid</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="email" placeholder="Email" formControlName="email">
                                    <mat-error>This field is required and should be valid</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12 text-center">
                                <button mat-raised-button type="submit" data-dismiss="modal"
                                        class="btn btn-fill btn-default btn-round">Cancel
                                </button>
                                <button id="dismiss-add-modal" style="display: none" data-dismiss="modal"></button>
                                <button mat-raised-button (click)="submit()" class="btn btn-fill btn-success btn-round">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EditEmpModal" tabindex="-1" role="dialog" aria-labelledby="AddEmpModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="" data-color="green">
                <div class="card-header text-center">
                    <h3 class="card-title">
                        Edit Emp Employee
                    </h3>
                </div>
                <div class="modal-body">
                    <form [formGroup]="editEmployee" class="add_cust_form">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" placeholder="Name" formControlName="name">
                                    <mat-error>This field is required</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="number" placeholder="Mobile" formControlName="mobile">
                                    <mat-error>This field is required and should be valid</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="email" placeholder="Email" formControlName="email">
                                    <mat-error>This field is required and should be valid</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12 text-center">
                        <button mat-raised-button type="submit" data-dismiss="modal"
                                class="btn btn-fill btn-default btn-round">Cancel
                        </button>
                        <button id="dismiss-edit-modal" style="display: none" data-dismiss="modal"></button>
                        <button mat-raised-button (click)="editEmployeeApi()"
                                class="btn btn-fill btn-success btn-round">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- View Modal -->

<!-- Message Modal -->

<!--<div class="fixed-plugin">-->
<!--<div class="dropdown show-dropdown">-->
<!--<a href="#" data-toggle="dropdown" aria-expanded="true" id="showFilter">-->
<!--<i class="fa fa-filter fa-2x"> </i>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
