<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
                <div class="card">
                    <!--<div class="card-avatar">-->
                        <!--<a href="#pablo">-->
                            <!--<img class="img" src="./assets/img/faces/marc.jpg" />-->
                        <!--</a>-->
                    <!--</div>-->
                    <div class="card-body">
                        <h4 class="card-title"><i class="fa fa-user"></i>&nbsp;&nbsp; Ankit Shrivastava</h4>
                        <br>
                        <table class="table text-left table-bordered">
                            <tr>
                                <th>Branch</th>
                                <td>Branch Name</td>
                            </tr>
                            <tr>
                                <th>Region</th>
                                <td>North</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td><a href="mailto:ankit.shrivastava@example.com">ankit.shrivastava@example.com</a></td>
                            </tr>
                            <tr>
                                <th>Mobile</th>
                                <td>+91 8775437876</td>
                            </tr>
                        </table>
                        <a href="#!" class="btn btn-success btn-round">
                            <i class="material-icons">
                                vpn_key
                            </i>&nbsp;
                            Change Password
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--accept=".xlx,.xlsx,.csv"-->