<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
                <div class="card">
                    <div class="card-avatar">
<!--                        <a href="#pablo">-->
<!--                            <img class="img" src="./assets/img/faces/marc.jpg" />-->
<!--                        </a>-->
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"><i class="fa fa-user"></i>&nbsp;&nbsp; {{user.name}}</h4>
                        <br>
                        <table class="table text-left table-bordered">
                            <tr>
                                <th>Employee Code</th>
                                <td>{{user.cdata.employee_code}}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td><a href="mailto:ankit.shrivastava@example.com">{{user.email}}</a></td>
                            </tr>
                            <tr>
                                <th>Mobile</th>
                                <td>+91 {{user.mobile}}</td>
                            </tr>
                        </table>
                        <a class="btn btn-success btn-round" (click)="markAttendence()">
                            <i class="material-icons">
                                where_to_vote
                            </i>&nbsp;
                            Mark Attendence
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--accept=".xlx,.xlsx,.csv"-->
