<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card" id="filterContainer">
          <div class="card-header ">
            <h4 class="card-title">Filter Results</h4>
          </div>
          <div class="card-body">
            <div class="form-filter">
              <div class="row">
                <div class="col-md-4">
                  <legend>Name</legend>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Please type..." type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <legend>Contact Person</legend>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Please type..." type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <legend>Contact Number</legend>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Please type..." type="text">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-right btn-row">
                  <button mat-raised-button type="submit" id="resetFilter" class="btn btn-round btn-default">Reset Filter(s)</button>
                  <button mat-raised-button type="submit" class="btn btn-fill btn-round btn-success">Apply Filter</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="toolbar table-action-toolbar">
              <div class="btn-group">
                <button matTooltip="Download" [matTooltipPosition]="'above'" mat-raised-button type="button" class="btn btn-fab btn-sm btn-rose">
                  <i class="material-icons">save_alt</i>
                </button>
                <button matTooltip="Add Warehouse" [matTooltipPosition]="'above'" mat-raised-button type="button" data-toggle="modal" data-target="#addWarehouseModal" class="btn btn-fab btn-sm btn-rose">

                  <i class="material-icons">add</i>
                </button>
              </div>
            </div>
            <div class="material-datatables">
              <table id="datatables" class="table" cellspacing="0" width="100%" style="width:100%">
                <thead>
                <tr>
                  <th style="width: 30px;">{{ dataTable.headerRow[0] }}</th>
                  <th>{{ dataTable.headerRow[1] }}</th>
                  <th style="width: 150px;">{{ dataTable.headerRow[2] }}</th>
                  <th>{{ dataTable.headerRow[3] }}</th>
                  <th style="width: 300px;">{{ dataTable.headerRow[4] }}</th>
                  <th>{{ dataTable.headerRow[5] }}</th>
                  <th>{{ dataTable.headerRow[6] }}</th>
                  <th>{{ dataTable.headerRow[7] }}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let row of dataTable.dataRows">
                  <td>{{row[0]}}</td>
                  <td>{{row[1]}}</td>
                  <td>{{row[2]}}</td>
                  <td>{{row[3]}}</td>
                  <td class="typeTag" [innerHTML]="row[4]"></td>
                  <td>{{row[5]}}</td>
                  <td>{{row[6]}}</td>
                  <td>{{row[7]}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
  </div>
</div>


<!-- Add Warehouse Modal -->
<div class="modal fade" id="addWarehouseModal" tabindex="-1" role="dialog" aria-labelledby="addWarehouseModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div>
          <div class="card-header text-center">
            <h3 class="card-title">
              Add New Warehouse
            </h3>
          </div>
          <div class="modal-body">
            <form class="add_cust_form">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Code">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Warehouse Name">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Contact Person">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Contact Number">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-select placeholder="Select Zone"
                                name="zone"
                                [(ngModel)]="currentZone"
                                zone="Moga" ariaLabel="zones[0]">
                      <mat-option *ngFor="let zone of zones" [value]="zone.value">
                        {{ zone.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-select placeholder="Select Region"
                                [(ngModel)]="currentRegion"
                                name="curReg"
                                region="Region 001" ariaLabel="regions[0]">
                      <mat-option *ngFor="let region of regions" [value]="region.value">
                        {{ region.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-select placeholder="Select City">
                      <mat-option value="option">Borivali</mat-option>
                      <mat-option value="option">Faridabad</mat-option>
                      <mat-option value="option">Chandigarh</mat-option>
                      <mat-option value="option">Mumbai</mat-option>
                      <mat-option value="option">Gurgaon</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>


                <div class="col-md-12 text-center">
                  <button mat-raised-button type="submit" data-dismiss="modal" class="btn btn-fill btn-default btn-round">Cancel</button>
                  <button mat-raised-button type="submit" class="btn btn-fill btn-success btn-round">Submit</button>
                </div>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="fixed-plugin">
    <div class="dropdown show-dropdown">
        <a href="#" data-toggle="dropdown" aria-expanded="true" id="showFilter">
            <i class="fa fa-filter fa-2x"> </i>
        </a>
    </div>
</div>
