<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">date_range</i>
            </div>
            <h4 class="card-title">Quarterly Targets</h4>
          </div>
          <div class="card-body ">
            <br>
            <div class="table-responsive">
              <table class="table target-table bordered table-bordered">
                <thead>
                  <tr>
                    <th colspan="2" rowspan="2">
                      All Employee
                    </th>
                    <th colspan="4" class="text-center sales-col">Sales (In ₹Lacs)</th>
                    <th rowspan="2" class="text-center sales-total-col">Sales Total</th>
                    <th rowspan="2" class="text-center new-customer-col">New Customers</th>
                    <th rowspan="2" class="text-center ardays-col">AR Days</th>
                  </tr>
                  <tr>
                    <th class="text-center qtr-col">Q1</th>
                    <th class="text-center qtr-col">Q2</th>
                    <th class="text-center qtr-col">Q3</th>
                    <th class="text-center qtr-col">Q4</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="bg-gray">
                    <td rowspan="2">Anshul Garg</td>
                    <td>Planned</td>
                    <td class="text-center">15</td>
                    <td class="text-center">20</td>
                    <td class="text-center">18</td>
                    <td class="text-center">13</td>
                    <td class="text-center">53</td>
                    <td class="text-center">30</td>
                    <td class="text-center">50</td>
                  </tr>
                  <tr>
                    <td>Actual</td>
                    <td class="text-center status status-4">12</td>
                    <td class="text-center status status-4">16</td>
                    <td class="text-center status status-1">19</td>
                    <td class="text-center status status-1">15</td>
                    <td class="text-center status status-3">48</td>
                    <td class="text-center status status-5">32</td>
                    <td class="text-center status status-4">49</td>
                  </tr>
                  <tr class="bg-gray">
                    <td rowspan="2">Chandresh Kumar</td>
                    <td>Planned</td>
                    <td class="text-center">15</td>
                    <td class="text-center">20</td>
                    <td class="text-center">18</td>
                    <td class="text-center">13</td>
                    <td class="text-center">53</td>
                    <td class="text-center">30</td>
                    <td class="text-center">50</td>
                  </tr>
                  <tr>
                    <td>Actual</td>
                    <td class="text-center status status-4">12</td>
                    <td class="text-center status status-4">16</td>
                    <td class="text-center status status-1">19</td>
                    <td class="text-center status status-1">15</td>
                    <td class="text-center status status-3">48</td>
                    <td class="text-center status status-5">32</td>
                    <td class="text-center status status-4">49</td>
                  </tr>
                  <tr class="bg-gray">
                    <td rowspan="2">Dhananjay Kumar</td>
                    <td>Planned</td>
                    <td class="text-center">15</td>
                    <td class="text-center">20</td>
                    <td class="text-center">18</td>
                    <td class="text-center">13</td>
                    <td class="text-center">53</td>
                    <td class="text-center">30</td>
                    <td class="text-center">50</td>
                  </tr>
                  <tr>
                    <td>Actual</td>
                    <td class="text-center status status-4">12</td>
                    <td class="text-center status status-4">16</td>
                    <td class="text-center status status-1">19</td>
                    <td class="text-center status status-1">15</td>
                    <td class="text-center status status-3">48</td>
                    <td class="text-center status status-5">32</td>
                    <td class="text-center status status-4">49</td>
                  </tr>

                  <tr class="total-row bg-gray">
                    <td rowspan="2">Total</td>
                    <td>Planned</td>
                    <td class="text-center">45</td>
                    <td class="text-center">60</td>
                    <td class="text-center">54</td>
                    <td class="text-center">39</td>
                    <td class="text-center">192</td>
                    <td class="text-center">90</td>
                    <td class="text-center">--</td>
                  </tr>
                  <tr class="total-row">
                    <td>Actual</td>
                    <td class="text-center">36</td>
                    <td class="text-center">48</td>
                    <td class="text-center">57</td>
                    <td class="text-center">45</td>
                    <td class="text-center">186</td>
                    <td class="text-center">96</td>
                    <td class="text-center">--</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
  </div>
</div>
